:root {
    --lr-lightbrown: #CD853F;
    --nr-brown: #EB9D3A;
    --dr-darkbrown: #8B4513;
    --bg-grey: #D3D3D3;
}
html{
    background-image: url("coffee-beans-on-white-ceramic-bowl-on-top-of-brown-wooden-942769.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
body {

    /*background-position: center;*/

}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main section {
    width: 45%;
    background-color: rgba(255,255,255,0.8);
    border-radius: 20px;
}


table {
    border-collapse: collapse;
    margin: 15px 0;

}
td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
.light-roast {
    background-color: var(--lr-lightbrown);
}
.regular-roast {
    background-color: var(--nr-brown);
}
.dark-roast {
    background-color: var(--dr-darkbrown);
}
#coffee-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    background-color: var(--bg-grey);
}

.card {
    width: 33%;
}
